{% extends 'layout.html' %}

{% import "slip_detail/macro/detail_buttons.html" as detail_btn with context %}

{% block head_title %}{{ head_title }}{% endblock %}

{% block main %}

{% if object %}

<!-- 岡島 -->
{% if company_ctx.company_cd == OKAJIMA_CD %}
<div class="flex-1">
    <!-- タイトル -->
    <div class="grid grid-cols-3 items-center w-full">
        <h2 class="mb-4 text-xl text-left font-bold">
            {{ head_title if head_title }}
        </h2>
        {% if object["del_flg"] == 1 %}
            <h3 class="mb-4 text-center text-base text-red-500 font-medium">この伝票は削除されています。</h3>
        {% endif %}
        <div></div>
    </div>

    <!-- topボタン -->
    {{ detail_btn.OkajimaTopButton('slip_detail:hand_detail') }}

    <div class="flex gap-10 mb-6 items-center">
        <div class="flex flex-col items-start">
            <div>配送伝票番号</div>
            <h2 class="font-bold text-lg">{{ object["denno_display"] if object["denno_display"] else "" }}</h2>
        </div>
        <div class="flex flex-col items-start">
            <div>ヤマト伝票番号</div>
            <h2 class="font-bold text-lg">{{ object["ydenno_display"] if object["ydenno_display"] else "" }}</h2>
        </div>
        <div class="flex flex-col items-start">
            <div>ご依頼主番号</div>
            <h2 class="font-bold text-lg">{{ object["irai_id"] if object["irai_id"] else "" }}</h2>
        </div>
    </div>

    <div class="space-y-5 mb-6">
        <div class="p-8">
            {% if image_data and image_data.status == "ok" %}
                <img 
                    src="{{ image_data.image_base64 }}" 
                    alt="伝票イメージ" 
                    class="cursor-pointer rounded-lg hover:opacity-80 transition w-[65%]"
                    onclick="image_modal.showModal()"
                >

                <dialog id="image_modal" class="m-auto p-0 rounded-lg backdrop:bg-black/80 backdrop:backdrop-blur-sm">
                    <div class="relative group">
                    <button 
                        onclick="image_modal.close()" 
                        class="absolute top-4 right-4 z-10 bg-black hover:bg-gray-800 text-white w-10 h-10 rounded-full flex items-center justify-center transition shadow-lg"
                        >
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>

                    <img src="{{ image_data.image_base64 }}" alt="拡大画像" class="max-w-[70vw] max-h-[70vh] block">
                    </div>

                    <form method="dialog" class="fixed inset-0 -z-10">
                    <button class="w-full h-full cursor-default">close</button>
                    </form>
                </dialog>
                <label class="mx-4 text-base font-medium">※画像を拡大するには画像をクリックしてください。</label>
            {% elif image_data %}
            <h4>{{ image_data.message_h4 }}</h4>
            <p>{{ image_data.message_p }}</p>
            {% endif %}
        </div>
    </div>
    
    <div class="flex gap-15 mb-3">
        <div class="flex flex-col gap-5 w-1/3">
            <!-- 出荷前履歴 -->
            <table class="table-fixed text-base bg-white h-fit">
                <caption class="text-left text-lg font-semibold pl-4 py-1 shadow bg-white border-gray-200">
                    出荷前履歴
                </caption>
                <thead class="bg-blue-600 text-white">
                    <tr>
                        <th class="px-2 py-1 text-left">日付</th>
                        <th class="px-2 py-1 text-left">状況</th>
                        <th class="px-2 py-1 text-left">備考</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in pre_shipment_history %}
                    {% set kbn_mark = "→" if obj.data_kbn == 9 and obj.jokyo_kbn == 3 else "<br />" %}
                    <tr>
                        <td class="px-2 py-1 border border-gray-200">
                            {{ obj.syori_ymd|display_format("%y/%m/%d %H:%M") }}
                        </td>
                        <td class="px-2 py-1 border border-gray-200">{{ obj.jokyo_nm }}</td>
                        <td class="px-2 py-1 border border-gray-200">
                            {{ obj.place1_nm }}{{ kbn_mark|safe if kbn_mark }}{{ obj.place2_nm }}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>

        <div class="flex flex-col gap-5 w-1/3">
            <div>
                <div class="border border-gray-200 bg-white flex items-center w-full text-base">
                    <div class="w-1/2 px-2 py-1 bg-blue-600">
                        <h4 class="font-bold text-white">再発行伝票番号</h4>
                    </div>
                    <div class="bg-white w-1/2 px-2 py-1">
                        {% if reissue_slip_numbers %}
                            {% for obj in reissue_slip_numbers %}
                                {% if obj.s_denno %}
                                    {% if obj.den_type == "S" %}
                                        <!-- システム伝票 -->
                                        {% set slip_url = url('slip_detail:sys_detail', kwargs={'pk': obj.den_pk}) ~ '?' ~ 'search1=' ~ obj.s_denno  ~ '&button_display=0' %}
                                        <a href="{{ slip_url }}"
                                            target="_blank"
                                            rel="noopener noreferrer" 
                                            data-value="{{ obj.s_denno_display }}"
                                            class="slip_num inline-block mx-auto text-black w-full max-w-32 text-center font-bold text-inherit text-left hover:underline">
                                            {{ obj.s_denno_display }}
                                        </a>
                                    {% else %}
                                        <!-- システム伝票以外 -->
                                        {% set slip_url = url('slip_detail:hand_detail', kwargs={'pk': obj.den_pk}) ~ '?' ~ 'search1=' ~ obj.s_denno  ~ '&button_display=0' %}
                                        <a href="{{ slip_url }}"
                                            target="_blank"
                                            rel="noopener noreferrer" 
                                            data-value="{{ obj.s_denno_display }}"
                                            class="slip_num inline-block mx-auto text-black w-full max-w-32 text-center font-bold text-inherit text-left hover:underline">
                                            {{ obj.s_denno_display if obj.s_denno_display else obj.s_denno }}
                                        </a>
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    </div>
                </div>

                
                <div class="border border-gray-200 bg-white flex items-center w-full text-base">
                    <div class="w-1/2 px-2 py-1 bg-blue-600">
                        <h4 class="font-bold text-white">事故</h4>
                    </div>
                    {% if object["jiko_denno"] != "0" %}
                    <div class="bg-white font-bold w-1/2 px-2">
                        <!-- 事故詳細ページへのリンクを追加 -->
                        <a href="{{ url('accident_input:inquiry') }}?denno={{object['jiko_denno']}}"
                            onclick=""
                            target="_blank"
                            rel="noopener noreferrer"
                            class="inline-block mx-auto bg-red-500 hover:bg-red-600 text-white w-full max-w-32 rounded text-center font-bold">
                            事故あり
                        </a>
                    </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
    <div class="flex gap-15 mb-6">
        <div class="flex flex-col gap-5 my-2 w-1/3">
            <!-- 配送状況 -->
            <table class="table-fixed text-base bg-white h-fit">
                <caption class="text-left text-lg font-semibold pl-4 py-1 shadow bg-white border-gray-200">
                    配送状況
                </caption>
                <thead class="bg-blue-600 text-white">
                    <tr>
                        <th class="px-2 py-1 text-left">日付</th>
                        <th class="px-2 py-1 text-left">状況</th>
                        <th class="px-2 py-1 text-left">備考</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in delivery_situation %}
                        <tr>
                            <td class="px-2 py-1 border border-gray-200">
                                {{ obj.jyotai_ymd|display_format("%y/%m/%d %H:%M") }}
                            </td>
                            <td class="px-2 py-1 border border-gray-200">{{ obj.datakbn_nm }}</td>
                            <td class="px-2 py-1 border border-gray-200">
                                {{ obj.jyokyo_nm if obj.jyokyo_nm else obj.kyoten_nm }}    
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
        
        <!-- 個口伝票 -->
        <div class="flex flex-col gap-5 my-2 w-1/3">
            <table class="table-fixed text-base bg-white w-full">
                <caption class="text-left text-lg font-semibold pl-4 py-1 shadow bg-white border-gray-200">
                    個口伝票
                </caption>
                <thead class="bg-blue-600 text-white">
                    <tr>
                        <th class="px-2 py-1 text-left">親伝票番号</th>
                        <th class="px-2 py-1 text-left">個口伝票番号</th>
                    </tr>
                </thead>
                <tbody>
                    {% for obj in package_slip_numbers %}
                        <tr>
                            {% if loop.first %}
                                    {% if obj.denno and obj.den_pk %}
                                        {% if obj.denno_display != object["denno_display"] %}
                                            {% if obj.den_type == "S" %}
                                                <!-- システム伝票 -->
                                                <td rowspan="{{ package_slip_numbers | length }}"
                                                    class="px-2 py-1 border border-gray-200">
                                                    {% set slip_url = url('slip_detail:sys_detail', kwargs={'pk': obj.den_pk}) ~ '?' ~ 'search1=' ~ obj.denno_display  ~ '&button_display=0' %}
                                                    <a href="{{ slip_url }}"
                                                        target="_blank"
                                                        rel="noopener noreferrer" 
                                                        data-value="{{ obj.denno_display }}"
                                                        class="slip_num inline-block mx-auto text-black w-full max-w-32 text-center font-bold text-inherit text-left hover:underline">
                                                        {{ obj.denno_display }}
                                                    </a>
                                                </td>
                                            {% else %}
                                                <!-- システム伝票以外 -->
                                                <td rowspan="{{ package_slip_numbers | length }}"
                                                    class="px-2 py-1 border border-gray-200">
                                                    {% set slip_url = url('slip_detail:hand_detail', kwargs={'pk': obj.den_pk}) ~ '?' ~ 'search1=' ~ obj.denno_display  ~ '&button_display=0' %}
                                                    <a href="{{ slip_url }}"
                                                        target="_blank"
                                                        rel="noopener noreferrer" 
                                                        data-value="{{ obj.denno_display }}"
                                                        class="slip_num inline-block mx-auto text-black w-full max-w-32 text-center font-bold text-inherit text-left hover:underline">
                                                        {{ obj.denno_display }}
                                                    </a>
                                                </td>
                                            {% endif %}
                                        {% else %}
                                            <!-- # リンクなし -->
                                            <td class="px-2 py-1 border border-gray-200 text-left" rowspan="{{ package_slip_numbers | length }}">
                                                <p>{{ obj.denno_display }}</p>
                                            </td>
                                        {% endif %}
                                    {% elif obj.denno %}
                                        <!-- # リンクなし -->
                                        <td class="px-2 py-1 border border-gray-200 text-left" rowspan="{{ package_slip_numbers | length }}">
                                            <p>{{ obj.denno }}</p>
                                        </td>
                                    {% endif %}
                                </td>
                            {% endif %}
                            {% if obj.s_denno and obj.s_den_pk %}
                                {% if obj.s_denno_display != object["denno_display"] %}
                                    {% if obj.s_den_type == "S" %}
                                        <!-- システム伝票 -->
                                        <td class="px-2 py-1 border border-gray-200">
                                            {% set slip_url = url('slip_detail:sys_detail', kwargs={'pk': obj.s_den_pk}) ~ '?' ~ 'search1=' ~ obj.s_denno_display  ~ '&button_display=0' %}
                                            <a href="{{ slip_url }}"
                                                target="_blank"
                                                rel="noopener noreferrer" 
                                                data-value="{{ obj.s_denno_display }}"
                                                class="slip_num inline-block mx-auto text-black w-full max-w-32 text-center font-bold text-inherit text-left  hover:underline">
                                                {{ obj.s_denno_display }}
                                            </a>
                                        </td>
                                    {% else %}
                                        <!-- システム伝票以外 -->
                                        <td class="px-2 py-1 border border-gray-200">
                                            {% set slip_url = url('slip_detail:hand_detail', kwargs={'pk': obj.s_den_pk}) ~ '?' ~ 'search1=' ~ obj.s_denno_display  ~ '&button_display=0' %}
                                            <a href="{{ slip_url }}"
                                                target="_blank"
                                                rel="noopener noreferrer" 
                                                data-value="{{ obj.s_denno_display }}"
                                                class="slip_num inline-block mx-auto text-black w-full max-w-32 text-center font-bold text-inherit text-left hover:underline">
                                                {{ obj.s_denno_display }}
                                            </a>
                                        </td>
                                    {% endif %}
                                {% else %}
                                    <!-- # リンクなし -->
                                    <td class="px-2 py-1 border border-gray-200 text-left">
                                        <p>{{ obj.s_denno_display }}</p>
                                    </td>
                                {% endif %}
                            {% else %}
                                <!-- # リンクなし -->
                                <td class="px-2 py-1 border border-gray-200 text-left">
                                    <p>{{ obj.s_denno_display }}</p>
                                </td>
                            {% endif %}
                        </tr>
                    {% endfor %} 
                </tbody>
            </table>
        </div>
    </div>
        <div class="flex gap-15 mb-6">
        <!-- 受注情報 -->
        <div class="w-1/3 flex flex-col gap-2">
            <div class="self-start">
                <h4 class='text-left font-semibold'>受注情報</p>
            </div>
            
            <div class="p-3 rounded shadow shadow-gray-300 bg-white flex">
                <div class="w-1/3">
                    <p>受注日</p>
                    <p>受注店</p>
                    <p>受注部門</p>
                    <p>売場</p>
                    <p>バッチ番号</p>
                </div>
                <div class="w-2/3">
                    {% if object["juchu_ymd"] %}
                        <p>{{ object["juchu_ymd"]|display_format("%Y/%m/%d") }}</p>
                    {% else %}
                        <p>&nbsp;</p>
                    {% endif %}

                    {% if object["mise_nm"] %}
                        <p>{{ object["mise_nm"] }}</p>
                    {% else %}
                        <p>&nbsp;</p>
                    {% endif %}

                    {% if object["h_bumon_nm"] %}
                        <p>{{ object["h_bumon_nm"] }}</p>
                    {% else %}
                        <p>&nbsp;</p>
                    {% endif %}

                    {% if object["uriba_nm"] %}
                        <p>{{ object["uriba_nm"] }}</p>
                    {% else %}
                        <p>&nbsp;</p>
                    {% endif %}

                    {% if object["batch_no_display"] %}
                        <p>{{ object["batch_no_display"] }}</p>
                    {% else %}
                        <p>&nbsp;</p>
                    {% endif %}
                </div>
            </div>
        </div>

        <!-- 配送情報 -->
        <div class="w-1/3 flex flex-col gap-2">
            <div class="self-start">
                <h4 class='text-left font-semibold'>配送情報</p>
            </div>

            <div class="p-3 rounded shadow shadow-gray-300 bg-white flex">
                <div class="w-1/3">
                    <p>配送業者</p>
                    <p>配送便種</p>
                    <p>配送地区</p>    
                </div>
                <div class="w-2/3">
                    {% if object["syukka_gyo_nm"] %}
                        <p>{{ object["syukka_gyo_nm"] }}</p>
                    {% else %}
                        <p>&nbsp;</p>
                    {% endif %}

                    {% if object["haikbn1_nm"] %}
                        <p>{{ object["haikbn1_nm"] }}</p>
                    {% else %}
                        <p>&nbsp;</p>
                    {% endif %}
                    
                    {% if object["haikbn2_nm"] %}
                        <p>{{ object["haikbn2_nm"] }}</p>
                    {% else %}
                        <p>&nbsp;</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

    <!-- フッターの操作ボタン -->
    {{ detail_btn.OkajimaBottomButton() }}
</div>


<!-- 鶴屋 -->
{% elif company_ctx.company_cd == TSURUYA_CD %}
<div class="flex-1">
    <!-- タイトル -->
    <div class="grid grid-cols-3 items-center w-full">
        <h2 class="mb-4 text-xl text-left font-bold">
            {{ head_title if head_title }}
        </h2>
        {% if object["del_flg"] == 1 %}
            <h3 class="mb-4 text-center text-base text-red-500 font-medium">この伝票は削除されています。</h3>
        {% endif %}
        <div></div>
    </div>

    <!-- topボタン -->
    {{ detail_btn.TsuruyaTopButton('slip_detail:hand_detail') }}

    <div class="flex gap-10 mb-6 items-center">
        <div class="flex flex-col items-start">
            <div>伝票番号</div>
            <h2 class="font-bold text-lg">{{ object["denno_display"] if object["denno_display"] else "" }}</h2>
        </div>
        <div class="flex flex-col items-start">
            <div>ヤマト伝票番号</div>
            <h2 class="font-bold text-lg">{{ object["ydenno_display"] if object["ydenno_display"] else "" }}</h2>
        </div>
    </div>

    <div class="space-y-5 mb-6">
        <div class="p-8">
            {% if image_data and image_data.status == "ok" %}
                <img 
                    src="{{ image_data.image_base64 }}" 
                    alt="伝票イメージ" 
                    class="cursor-pointer rounded-lg hover:opacity-80 transition w-[65%]"
                    onclick="image_modal.showModal()"
                >

                <dialog id="image_modal" class="m-auto p-0 rounded-lg backdrop:bg-black/80 backdrop:backdrop-blur-sm">
                    <div class="relative group">
                    <button 
                        onclick="image_modal.close()" 
                        class="absolute top-4 right-4 z-10 bg-black hover:bg-gray-800 text-white w-10 h-10 rounded-full flex items-center justify-center transition shadow-lg"
                        >
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>

                    <img src="{{ image_data.image_base64 }}" alt="拡大画像" class="max-w-[70vw] max-h-[70vh] block">
                    </div>

                    <form method="dialog" class="fixed inset-0 -z-10">
                    <button class="w-full h-full cursor-default">close</button>
                    </form>
                </dialog>
                <label class="mx-4 text-base font-medium">※画像を拡大するには画像をクリックしてください。</label>
            {% elif image_data %}
            <!-- 画像が読み込めない場合 -->
            <!-- <h4>{{ image_data.message_h4 }}</h4>
            <p>{{ image_data.message_p }}</p> -->
            <img 
                    src="{{ static('img/no_image.png') }}" 
                    alt="伝票イメージ" 
                    class="cursor-pointer rounded-lg hover:opacity-80 transition w-[65%]"
                    onclick="image_modal.showModal()"
                >

                <dialog id="image_modal" class="m-auto p-0 rounded-lg backdrop:bg-black/80 backdrop:backdrop-blur-sm">
                    <div class="relative group">
                    <button 
                        onclick="image_modal.close()" 
                        class="absolute top-4 right-4 z-10 bg-black hover:bg-gray-800 text-white w-10 h-10 rounded-full flex items-center justify-center transition shadow-lg"
                        >
                        <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                            <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18L18 6M6 6l12 12" />
                        </svg>
                    </button>

                    <img src="{{ static('img/no_image.png') }}" alt="拡大画像" class="max-w-[70vw] max-h-[70vh] block">
                    </div>

                    <form method="dialog" class="fixed inset-0 -z-10">
                    <button class="w-full h-full cursor-default">close</button>
                    </form>
                </dialog>
                <label class="mx-4 text-base font-medium">※画像を拡大するには画像をクリックしてください。</label>
            {% endif %}
        </div>
    </div>

    <!-- 詳細情報_1 -->
    <table class="table-fixed w-full text-base mt-3">
        <colgroup>
            <col class="w-[35%]" />
            <col class="w-[35%]" />
            <col class="w-[30%]" />
        </colgroup>
        <tbody>
            <tr>
                <!-- 詳細情報_1-1 店舗情報 -->
                <td class="align-top pr-2.5">
                    <table class="w-full table-fixed border border-blue-500 border-collapse">
                        <colgroup>
                            <col class="w-[45%]" />
                            <col class="w-[55%]" />
                        </colgroup>
                        <tbody>
                            <tr>
                                <td class="border border-blue-500 px-2 py-1 align-middle font-bold bg-blue-50">
                                    店外店舗
                                </td>
                                <td class="border border-blue-500 px-2 py-1 align-top">
                                    {{ object["tengai_nm"]}}
                                </td>
                            </tr>
                            <tr>
                                <td class="border border-blue-500 px-2 py-1 align-middle font-bold bg-blue-50">
                                    部門
                                </td>
                                <td class="border border-blue-500 px-2 py-1 align-top">
                                    {{ object["bumon_nm_1"]}}
                                </td>
                            </tr>
                            <tr>
                                <td class="border border-blue-500 px-2 py-1 align-middle font-bold bg-blue-50">
                                    入力バッチ番号-連番
                                </td>
                                <td class="border border-blue-500 px-2 py-1 align-top">
                                    {% if object["batch_no_display_with_type"] %}
                                        {{ object["batch_no_display_with_type"] }}
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>

                <!-- 詳細情報_1-2 配送情報 -->
                <td class="align-top pr-2.5">
                    <table class="w-full table-fixed border border-blue-500 border-collapse">
                        <colgroup>
                            <col class="w-[40%]" />
                            <col class="w-[60%]" />
                        </colgroup>
                        <tbody>
                            <tr>
                                <td class="border border-blue-500 px-2 py-1 align-middle font-bold bg-blue-50">
                                    配送業者
                                </td>
                                <td class="border border-blue-500 px-2 py-1 align-top">
                                    {% if object["hai_gyosya_nm"] %}
                                        {{ object["hai_gyosya_nm"] }}
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="border border-blue-500 px-2 py-1 align-middle font-bold bg-blue-50">
                                    発送コメント
                                </td>
                                <td class="border border-blue-500 px-2 py-1 align-top">
                                    {% if object["hassou_nm"] %}
                                        {{ object["hassou_nm"] }}
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="border border-blue-500 px-2 py-1 align-middle font-bold bg-blue-50">
                                    未発送理由
                                </td>
                                <td class="border border-blue-500 px-2 py-1 align-top">
                                    {% if object["shipping_maintenance_memo"] %}
                                        {{ object["shipping_maintenance_memo"] }}
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>

                <!-- 詳細情報_1-3 事故・再発行情報 -->
                <td class="align-top">
                    <table
                        class="w-full table-fixed border border-blue-500 border-collapse"
                    >
                        <colgroup>
                            <col class="w-[40%]" />
                            <col class="w-[60%]" />
                        </colgroup>
                        <tbody>
                            <tr>
                                <td class="border border-blue-500 px-2 py-1 align-middle font-bold bg-blue-50">
                                    事故
                                </td>
                                <td class="border border-blue-500 px-2 py-1 align-top">
                                    {% if object["jiko_flg"] == 1 %}
                                        <!-- 事故詳細ページへのリンクを追加 -->
                                        <a href="{{ url('accident_input:inquiry') }}?denno={{object['jiko_denno']}}"
                                            onclick=""
                                            target="_blank"
                                            rel="noopener noreferrer"
                                            class="text-red-500 underline underline-offset-3 decoration-black w-full text-center font-bold">
                                            事故あり
                                        </a>
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </td>
                            </tr>
                            <tr>
                                <td class="border border-blue-500 px-2 py-1 align-middle font-bold bg-blue-50">
                                    再発行伝票番号
                                </td>
                                <td class="border border-blue-500 px-2 py-1 align-top">
                                    {% if reissue_slip_numbers %}
                                        {% for obj in reissue_slip_numbers %}
                                            {% if obj.den_pk and obj.s_denno %}
                                                {% if obj.den_type == "S" %}
                                                    <!-- システム伝票 -->
                                                    {% set slip_url = url('slip_detail:sys_detail', kwargs={'pk': obj.den_pk}) ~ '?' ~ 'search1=' ~ obj.s_denno  ~ '&button_display=0' %}
                                                    <a href="{{ slip_url }}"
                                                        target="_blank"
                                                        rel="noopener noreferrer"
                                                        data-value="{{ obj.s_denno }}"
                                                        class="slip_num inline-block mx-auto text-black text-base w-full max-w-32 text-center font-bold text-inherit text-left underline">
                                                        {{ obj.s_denno_display }}
                                                    </a>
                                                {% else %}
                                                    <!-- システム伝票以外 -->
                                                    {% set slip_url = url('slip_detail:hand_detail', kwargs={'pk': obj.den_pk}) ~ '?' ~ 'search1=' ~ obj.s_denno  ~ '&button_display=0' %}
                                                    <a href="{{ slip_url }}"
                                                        target="_blank"
                                                        rel="noopener noreferrer"
                                                        data-value="{{ obj.s_denno }}"
                                                        class="slip_num inline-block mx-auto text-black text-base w-full max-w-32 text-center font-bold text-inherit text-left underline">
                                                        {{ obj.s_denno_display }}
                                                    </a>
                                                {% endif %}
                                            {% elif obj.s_denno %}
                                                <p class="inline-block mx-auto text-black text-base w-full max-w-32 text-center font-bold text-inherit text-left ">
                                                    {{ obj.s_denno_display }}
                                                </p>
                                            {% endif %}
                                        {% endfor %}
                                    {% else %}
                                        &nbsp;
                                    {% endif %}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- 詳細情報_2 -->
    <table class="table-fixed w-full text-base mt-2.5">
        <colgroup>
            <col class="w-[42%]" />
            <col class="w-[42%]" />
            <col class="w-[16%]" />
        </colgroup>
        <tbody>
            <tr>
                <!-- 詳細情報_2-1 出荷前履歴(社内履歴) -->
                <td class="align-top pr-2.5">
                    <table class="w-full table-fixed border border-blue-500 border-collapse">
                        <tbody>
                            <tr>
                                <td colspan="3" class="border border-blue-500 px-2 py-0.5 align-middle font-bold bg-blue-50">
                                    出荷前履歴(社内履歴)
                                </td>
                            </tr>
                            <tr>
                                <td class="border border-blue-500 px-2 py-0.5 align-middle font-bold bg-blue-50 text-center">
                                    日時
                                </td>
                                <td class="border border-blue-500 px-2 py-0.5 align-middle font-bold bg-blue-50 text-center">
                                    状況
                                </td>
                                <td class="border border-blue-500 px-2 py-0.5 align-middle font-bold bg-blue-50 text-center">
                                    備考
                                </td>
                            </tr>
                            {% for obj in pre_shipment_history %}
                            {% set kbn_mark = "→" if obj.data_kbn == 9 and obj.jokyo_kbn == 3 else "<br />" %}
                                <tr>
                                    <td class="px-2 py-1 border border-blue-500 align-top">
                                        {{ obj.syori_ymd_format }}
                                    </td>
                                    <td class="px-2 py-1 border border-blue-500 align-top">
                                        {{ obj.jokyo_nm }}
                                    </td>
                                    <td class="px-2 py-1 border border-blue-500 align-top">
                                        {{ obj.place1_nm }}{{ kbn_mark|safe if kbn_mark }}{{ obj.place2_nm }}
                                    </td>
                                </tr>
                            {% else %}
                                <tr class="text-base">
                                    <td class="px-2 py-1 border border-blue-500">&nbsp;</td>
                                    <td class="px-2 py-1 border border-blue-500">&nbsp;</td>
                                    <td class="px-2 py-1 border border-blue-500">&nbsp;</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>

                <!-- 詳細情報_2-2 配送状況(配送業者履歴) -->
                <td class="align-top pr-2.5">
                    <table class="w-full table-fixed border border-blue-500 border-collapse">
                        <tbody>
                            <tr>
                                <td colspan="3"
                                    class="border border-blue-500 px-2 py-0.5 align-middle font-bold bg-blue-50">
                                    配送状況(配送業者履歴)
                                </td>
                            </tr>
                            <tr>
                                <td class="border border-blue-500 px-2 py-0.5 align-middle font-bold bg-blue-50 text-center">
                                    日時
                                </td>
                                <td class="border border-blue-500 px-2 py-0.5 align-middle font-bold bg-blue-50 text-center">
                                    状況
                                </td>
                                <td class="border border-blue-500 px-2 py-0.5 align-middle font-bold bg-blue-50 text-center">
                                    備考
                                </td>
                            </tr>
                            {% for obj in delivery_situation %}
                                <tr>
                                    <td class="px-2 py-1 border border-blue-500 align-top">
                                        {{ obj.jyotai_ymd_format }}
                                    </td>
                                    <td class="px-2 py-1 border border-blue-500 align-top">
                                        {{ obj.datakbn_nm }}
                                    </td>
                                    <td class="px-2 py-1 border border-blue-500 align-top">
                                        {{ obj.jyokyo_nm }}
                                    </td>
                                </tr>
                            {% else %}
                                <tr class="text-base">
                                    <td class="px-2 py-1 border border-blue-500">&nbsp;</td>
                                    <td class="px-2 py-1 border border-blue-500">&nbsp;</td>
                                    <td class="px-2 py-1 border border-blue-500">&nbsp;</td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>

                <!-- 詳細情報_2-3 個口伝票 -->
                <td class="align-top">
                    <table class="w-full table-fixed border border-blue-500 border-collapse">
                        <tbody>
                            <tr>
                                <td class="border border-blue-500 px-2 py-0.5 align-middle font-bold bg-blue-50">
                                    個口伝票
                                </td>
                            </tr>
                            {% for obj in package_slip_numbers %}
                                {% if loop.first %}
                                    {% if obj.den_pk and obj.denno_display %}
                                        <!-- メモ；ここの条件確認 -->
                                        {% if obj.denno %}
                                            {% if obj.denno_display != object["denno_display"] %}
                                                {% if obj.den_type == "S" %}
                                                    <!-- システム伝票 -->
                                                    <tr>
                                                        <td class="px-2 py-1 border border-blue-500">
                                                            {% set slip_url = url('slip_detail:sys_detail', kwargs={'pk': obj.den_pk}) ~ '?' ~ 'search1=' ~ obj.denno_display  ~ '&button_display=0' %}
                                                            <a href="{{ slip_url }}"
                                                                target="_blank"
                                                                rel="noopener noreferrer" 
                                                                data-value="{{ obj.denno_display }}"
                                                                class="slip_num inline-block mx-auto text-black w-full text-center font-bold text-inherit text-left underline">
                                                                {{ obj.denno_display }} (親)
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% else %}
                                                    <!-- 手書き伝票 -->
                                                    <tr>
                                                        <td class="px-2 py-1 border border-blue-500">
                                                            {% set slip_url = url('slip_detail:hand_detail', kwargs={'pk': obj.den_pk}) ~ '?' ~ 'search1=' ~ obj.denno_display  ~ '&button_display=0' %}
                                                            <a href="{{ slip_url }}"
                                                                target="_blank"
                                                                rel="noopener noreferrer" 
                                                                data-value="{{ obj.denno_display }}"
                                                                class="slip_num inline-block mx-auto text-black w-full text-center font-bold text-inherit text-left underline">
                                                                {{ obj.denno_display }} (親)
                                                            </a>
                                                        </td>
                                                    </tr>
                                                {% endif %}
                                            {% else %}
                                                <tr>
                                                    <td class="px-2 py-1 border border-blue-500 text-left">
                                                        <p>{{ obj.denno_display }} (親)</p>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endif %}
                                    {% elif obj.denno_display %}
                                        <tr>
                                            <td class="px-2 py-1 border border-blue-500 text-left">
                                                <p>{{ obj.denno_display }} (親)</p>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% endif %}
                                {% if obj.s_den_pk and obj.s_denno_display %}
                                    {% if obj.s_denno %}
                                        {% if obj.s_denno_display != object["denno_display"] %}
                                            {% if obj.s_den_type == "S" %}
                                                <!-- システム伝票 -->
                                                <tr>
                                                    <td class="px-2 py-1 border border-blue-500">
                                                        {% set slip_url = url('slip_detail:sys_detail', kwargs={'pk': obj.s_den_pk}) ~ '?' ~ 'search1=' ~ obj.s_denno_display  ~ '&button_display=0' %}
                                                        <a href="{{ slip_url }}"
                                                            target="_blank"
                                                            rel="noopener noreferrer" 
                                                            data-value="{{ obj.s_denno_display }}"
                                                            class="slip_num inline-block mx-auto text-black w-full text-center font-bold text-inherit text-left underline">
                                                            {{ obj.s_denno_display }}
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% else %}
                                                <!-- # 手書き伝票 -->
                                                <tr>
                                                    <td class="px-2 py-1 border border-blue-500">
                                                        {% set slip_url = url('slip_detail:hand_detail', kwargs={'pk': obj.s_den_pk}) ~ '?' ~ 'search1=' ~ obj.s_denno_display  ~ '&button_display=0' %}
                                                        <a href="{{ slip_url }}"
                                                            target="_blank"
                                                            rel="noopener noreferrer" 
                                                            data-value="{{ obj.s_denno_display }}"
                                                            class="slip_num inline-block mx-auto text-black w-full text-center font-bold text-inherit text-left underline">
                                                            {{ obj.s_denno_display }}
                                                        </a>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% else %}
                                            <tr>
                                                <td class="px-2 py-1 border border-blue-500 text-left">
                                                    <p>{{ obj.s_denno_display }}</p>
                                                </td>
                                            </tr>
                                        {% endif %}
                                    {% else %}
                                        <tr>
                                            <td class="px-2 py-1 border border-blue-500 text-left">
                                                <p>{{ obj.s_denno_display }}</p>
                                            </td>
                                        </tr>
                                    {% endif %}
                                {% else %}
                                    <tr>
                                        <td class="px-2 py-1 border border-blue-500 text-left">
                                            <p>{{ obj.s_denno_display }}</p>
                                        </td>
                                    </tr>
                                {% endif %}
                            {% else %}
                            <tr>
                                <td class="px-2 py-1 border border-blue-500">&nbsp;</td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>

    <!-- フッターの操作ボタン -->
    {{ detail_btn.TsuruyaBottomButton() }}
</div>
{% endif %}

<style>
.slip_num {
    color: #2E64FE;
}
</style>

<script type="text/javascript">
    function paramJudg(paramName, value){
        const params = new URLSearchParams(window.location.search);
        const paramValue = params.get(paramName);
        if(paramValue === value){
            return true;
        }else{
            return false;
        }
    }

    document.addEventListener('DOMContentLoaded', () => {
        let uri = new URL(window.location.href);
        var page_url = uri.pathname;

        // 個口伝票からの遷移の場合
        if(page_url.includes('slip_detail') && (page_url.includes('sys_detail') || page_url.includes('hand_detail'))){
            
            const judg = paramJudg("button_display", "0");
            if(judg){
                // サイドバー
                const navbar = document.getElementById('nav');
                navbar.style.display = "none";

                // ログアウトボタン
                const logoutbutton = document.getElementById('logout-form');
                logoutbutton.style.display = "none";

                // 移動ボタン(上部)（レイアウト位置を保持するため display ではなく visibility で非表示にする）
                const topbutton = document.getElementById('top-button');
                topbutton.style.visibility = "hidden";

                // 前画面へ戻るボタン(上部・鶴屋)（親要素の visibility 継承で非表示になるため display は変更しない）
                const topbuttonback = document.getElementById('top-button-back');
                if (topbuttonback) topbuttonback.style.visibility = "hidden";

                // 移動ボタン(下部)
                const buttombutton = document.getElementById('buttom-button');
                buttombutton.style.display = "none";
            }
        }
    });
</script>

{% endif %}

{% endblock %}